.Previev{
    flex: 0 0 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border: 3px solid black;
    margin: 20px;
  }
  .korzina1{
      padding: 20px;
      width: 190px;
      height: 230px;
  }
  .korzina2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }