.Controls {
  flex: 0 0 270px;
  border-radius: 1rem;
  padding: 1rem;
  background-color:  rgb(17, 200, 224);;
  color: white;
  text-align: center;
  
  border: 5px solid rgba(7, 142, 160, 0.376);
}
.Controls h2{
  font-size: 30px;
}