.Drawer .content {
  width: 290px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 2rem;
  color: white;
  background-color: rgb(74, 216, 161);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: transform .3s ease-out;
}

.open {
  transform: translateX(0);
}
.close {
  transform: translateX(-300px);
}

@media (min-width: 550px) {
  .Drawer  {
    display: none;
  }
}