.PizzaPreview {
  flex: 0 0 400px;
  height: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid red ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingredients {
  width: 380px;
  height: 380px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
